<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edição de Clientes</h5>
    <p class="card-text">Edite os dados do cliente</p>
    <hr />

    <form (ngSubmit)="atualizarCliente()">
      <div class="row mb-3">
        <div class="col-md-8">
          <label for="nome">Nome do cliente:</label>
          <input
            type="text"
            class="form-control"
            id="nome"
            [(ngModel)]="clienteEdicao.nome"
            name="nome"
            required
          />
        </div>

        <div class="col-md-4">
          <label for="cpf">CPF: </label>
          <input
            type="text"
            class="form-control"
            id="cpf"
            [(ngModel)]="clienteEdicao.cpf"
            name="cpf"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="clienteEdicao.email"
            name="email"
            required
          />
        </div>
        <div class="col-md-4">
          <label for="dataNascimento">Data de Nascimento:</label>
          <input
            type="date"
            class="form-control"
            id="dataNascimento"
            [(ngModel)]="clienteEdicao.dataNascimento"
            name="dataNascimento"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success">
            Confirmar Alterações
          </button>
        </div>
      </div>
      <div class="alert alert-success" *ngIf="edicaoSucesso">
        Cliente atualizado com sucesso
      </div>
    </form>
  </div>
</div>
